---
layout: default
---





<section class="epk-header">

  <div class="container squeeze align-center">

    <h1>Bite Night Press Kit</h1>


    <button class="btn btn-custom">Download<i class="fa fa-download"></i></button>

  </div>




</section>





  <!-- Begin MailChimp Signup Form -->
<!--
  <div class="container">

    <div class="row">

      <div class="col-md-6 col-md-offset-3 ">

        <img class="logo center-block" src="images/logo.jpg" />

        <form action="//github.us9.list-manage.com/subscribe/post?u=25dfe3f35f57bc1c8f9995449&amp;id=2a6d71ff1f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>

          <div class="form-group">
            <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
          </div>
              <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_25dfe3f35f57bc1c8f9995449_2a6d71ff1f" tabindex="-1" value="">
              </div>

              <div class="form-group">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary form-control">
              </div>

        </form>

      </div>

    </div>
  -->








{% include navigation.html %}



<section class="page-section" id="section-bio">

  <div class="container squeeze">


      <section>
        <h4>BACKSTORY</h4>

        <p>2014 was set to be a big year for the Indie music scene as 4 beautifully
          average looking men from the Highlands of Scotland decided instead of
          being in the crowd at the bar why not be on the stage and start getting.
        </p>


        <p>Scottish Indie Rockers Bite Night formed in early 2014 and the four
          piece hit the ground running making it to the final of the Highland
          battle of the bands in their first three gigs amongst stiff and far
          more experienced competition.
        </p>

      </section>

      <section>

        <h4>MUSIC STYLE AND INFLUENCES</h4>

        <p>The success of that subsequently led to gaining some great support
          slots namely the bands first appearance at the famous Ironworks venue
          to support the hotly tipped Palma Violets.
          From there on in with gigs all over Scotland and a growing confidence
          the band played to a busy tent at Belladrum Festival, not a bad
          achievement for band who formed only 8 months prior and surely a
          highlight of their journey so far.
        </p>

      </section>

      <section>

        <h4>SOMETHING</h4>

        <p>The band have now released a 4 track EP of which one of the tracks
          "Adelaide Eyes" was selected to appear in R2 Magazines un signed
          compilation cd for January 2015.
          The boys also made their first music video with some raunchy oiled up
          wrestling scenes which is sure to turn heads.
        </p>


        <p>2015 already looks set eclipse 2014s achievements with Brew at the
          Bog festival and a Main Stage slot at Belladrum already in the
          pipeline for the handsome fellas the future is sure bright.
        </p>

      </section>

    </div>


</section>


<section class="page-section" id="section-timeline">

  <div class="container">

    <div class="row">

      <div class="col-md-5 col-md-offset-1">

        <h2>Past</h2>

        {% include timeline.html %}

      </div>

      <div class="col-md-5 col-md-offset-1">

        <h2>Upcoming</h2>

        <article id="timeline">

          <div class="timeline-bar">



            <section class="year">
              <h3>2015</h3>
              {% for gig in site.data.gigs %}
              <section class="event">
                <h4>{{gig.name}}</h4>
                <ul>
                  <li><i class="fa fa-calendar fa-fw"></i>{{gig.when}}</li>
                  <li><i class="fa fa-location-arrow fa-fw"></i>{{gig.where}}</li>
                </ul>
              </section>
              {% endfor %}

            </section>



          </div>
        </article>


      </div>

    </div>

  </div>

</section>


<section id="section-faq" class="page-section section-alt">

  <div class="container squeeze">

      {% for q in site.data.faq %}

        <div class="col-md-6 faq">

          <h4>{{ q.question }}</h4>

          <p>{{ q.answer }}</p>

        </div>

      {% endfor %}

  </div>

</section>



<section id="section-members" class="page-section">

  <div class="container squeeze">

    <div class="row">

      {% for member in site.data.members %}
      <div class="col-md-6">

        <img src="{{member.pic-link}}" class="member-pic" alt="image01"/>
        <h4>{{member.name}}</h4>
        <span>{{member.role}}</span>

        <p>adkadjakjdakjda</p>

      </div>
      {% endfor %}

    </div>

  </div>



</section>



<section id="carousel" class="page-section section-alt">

  <div class="container squeeze">

    {% include quotes.html %}

  </div>


</section>



<section id="section-events" class="page-section">

  <div class="container squeeze">





  </div>



</section>




<section id="section-music" class="page-section">

  <div class="container squeeze">

    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/79743396&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

  </div>

</section>




        <section id="section-photos" class="page-section">

            <div class="container">


                <div class="col-md-3 col-xs-6">
                  <img src="/images/belladrum.jpg" class="photo img-responsive" alt="Responsive image">
                </div>
                <div class="col-md-3 col-xs-6">
                  <img src="/images/photos/naked.jpg" class="photo img-responsive" alt="Responsive image">
                </div>
                <div class="col-md-3 col-xs-6">
                  <img src="/images/belladrum.jpg" class="photo img-responsive" alt="Responsive image">
                </div>
                <div class="col-md-3 col-xs-6">
                  <img src="/images/belladrum.jpg" class="photo img-responsive" alt="Responsive image">
                </div>

            </div>


            <button class="btn btn-custom center-block">Download All Photos</button>


        </section>




<section id="section-contact" class="page-section">

  <div class="container squeeze">

    {% include contact.html %}

  </div>


</section>
