---
layout: default
---





<section class="epk-header">

  <div class="container squeeze align-center">

    <h1 class="main-heading">Press Resources</h1>


    <nav class="social-links">
      <a ng-href="https://www.facebook.com/BiteNightBand" target="_blank"><i class="fa fa-facebook"></i>BiteNightBand</a>
      <a ng-href="https://twitter.com/bite_night" target="_blank"><i class="fa fa-twitter"></i>@Bite_Night</a>
      <a ng-href="https://www.youtube.com/channel/UCrSJDQrldnwZUs0eBngMG3g" target="_blank"><i class="fa fa-youtube"></i>Bite Night Band</a>
    </nav>

  </div>




</section>





<div class="container">

  <div class="row">

    <div class="col-sm-3 press-nav hidden-xs">

      <ul class="nav nav-stacked press-nav-spy" data-spy="affix" data-offset-top="350">

        <li><a ng-href="#section-bio">Biography</a></li>
        <li><a ng-href="#section-timeline">Timeline</a></li>
        <li><a ng-href="#section-faq">FAQ</a></li>
        <li><a ng-href="#section-music">Music</a></li>
        <li><a ng-href="#section-photos">Photos</a></li>
        <li><a ng-href="#section-contact">Contact</a></li>

      </ul>

    </div>


    <div class="col-sm-9">


      <section class="page-section" id="section-bio">

            <section class="bio">
              <h4>BACKSTORY</h4>

              <p>2014 was set to be a big year for the Indie music scene as 4 beautifully
                average looking men from the Highlands of Scotland decided instead of
                being in the crowd at the bar why not be on the stage and start getting.
              </p>


              <p>Scottish Indie Rockers Bite Night formed in early 2014 and the four
                piece hit the ground running making it to the
                <a ng-href="http://www.inverness-courier.co.uk/Whats-On/Music/Grand-Final-Preview-The-Eagle-Battle-Of-The-Bands-29012014.htm">
                final of the Highland Battle of the Bands</a> in their first three gigs amongst stiff and far
                more experienced competition.
              </p>

            </section>

            <section class="bio">

              <h4>MUSIC STYLE AND INFLUENCES</h4>

              <p>The success of that subsequently led to gaining some great support
                slots namely the bands first appearance at the famous Ironworks venue
                to support the hotly tipped Palma Violets.
                From there on in with gigs all over Scotland and a growing confidence
                the band played to a busy tent at Belladrum Festival, not a bad
                achievement for band who formed only 8 months prior and surely a
                highlight of their journey so far.
              </p>

            </section>

            <section class="bio">

              <h4>SOMETHING</h4>

              <p>The band have now released a 4 track EP of which one of the tracks
                "Adelaide Eyes" was selected to appear in R2 Magazines un signed
                compilation cd for January 2015.
                The boys also made their first music video with some raunchy oiled up
                wrestling scenes which is sure to turn heads.
              </p>


              <p>2015 already looks set eclipse 2014s achievements with Brew at the
                Bog festival and a Main Stage slot at Belladrum already in the
                pipeline for the handsome fellas the future is sure bright.
              </p>

            </section>




      </section>


      <section class="page-section" id="section-timeline">

          {% include timeline.html %}

      </section>



      <section id="section-members" class="page-section">



          <div class="row member">

            <div class="col-md-6">

              <div class="member-pic img-responsive"></div>

            </div>


            <div class="col-md-6">

              <h2 class="member-name">Ben Zebrowski</h2>
              <span class="member-role">Singer/Guitarist</span>

              <p class="member-bio">With Scottish, Polish and English blood in him and the ability to
                speak 2 of those languages Ben is the songwriter, Ben can often be
                spotted singing wildly out of tune on the A9 (in his car).
              </p>

            </div>

          </div>



          <div class="row member">

            <div class="col-md-6">

              <div class="member-pic img-responsive"></div>

            </div>


            <div class="col-md-6">

              <h2 class="member-name">Ben Rait</h2>
              <span class="member-role">Lead Guitar</span>

              <p class="member-bio">A previous bedroom busker Ben the lead guitarist is utterly brilliant
                on the guitar and gives the band our signature sound as
                long as he’s well fed.
              </p>

            </div>

          </div>




          <div class="row member">

            <div class="col-md-6">

              <div class="member-pic img-responsive"></div>

            </div>


            <div class="col-md-6">

              <h2 class="member-name">Kenny Lyall</h2>
              <span class="member-role">DRUMMER</span>

              <p class="member-bio">Kenny the drummer started off his drumming career on the pots and
                pans in his mums kitchen in Wick before becoming the flawless time
                keeper of the band.
              </p>

            </div>

          </div>


          <div class="row member">

            <div class="col-md-6">

              <div class="member-pic img-responsive"></div>

            </div>


            <div class="col-md-6">

              <h2 class="member-name">Lisle Geddes</h2>
              <span class="member-role">Bass</span>

              <p class="member-bio">Hailing from the distant forests of Cannich lisle lovely smile
                which few have seen compliment the youngest of the groups fantastic
                ability on the bass
              </p>

            </div>

          </div>





      </section>






      <section id="section-events" class="page-section">




      </section>




      <section id="section-music" class="page-section">


        {% include music.html %}



      </section>




      <section id="section-photos" class="page-section">

          <div class="row">


              <div class="col-md-4">
                <img src="/images/belladrum.jpg" class="photo img-responsive" alt="Responsive image">
              </div>
              <div class="col-md-4">
                <img src="/images/photos/naked.jpg" class="photo img-responsive" alt="Responsive image">
              </div>
              <div class="col-md-4">
                <img src="/images/belladrum.jpg" class="photo img-responsive" alt="Responsive image">
              </div>
              <div class="col-md-4">
                <img src="/images/belladrum.jpg" class="photo img-responsive" alt="Responsive image">
              </div>

          </div>


          <button class="btn btn-custom center-block">Download All Photos</button>


      </section>




      <section id="section-contact" class="page-section">


          {% include contact.html %}


      </section>

    </div>

  </div>

</div>
