

<form accept-charset="UTF-8" action="https://formkeep.com/f/35e433fa5ec4" method="POST">

  <div class="row">

    <div class="col-md-6">

      <input type="hidden" name="utf8" value="â">

      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control">
      </div>




    </div>

    <div class="col-md-6">

      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" class="form-control">
      </div>

    </div>

  </div>


    <div class="form-group">
      <label>Message</label>
      <textarea class="form-control" name="message"></textarea>
    </div>



  <div class="form-group">
    <button class="btn btn-custom center-block">SUBMIT</button>
  </div>

</form>
