<div class="navmenu navmenu-default navmenu-fixed-right offcanvas" style="">

  <a class="navmenu-brand" href="#">Bite Night Press Kit</a>

  <ul class="nav navmenu-nav">
    <li class="active"><a href="./">Slide in</a></li>
    <li><a href="#section-bio">Biography</a></li>
    <li><a href="../navmenu-reveal/">Upcoming Events</a></li>
    <li><a href="../navbar-offcanvas/">Music</a></li>
  </ul>

</div>

<div class="navbar navbar-default navbar-fixed-top">

  <div class="container">

    <a class="navbar-brand" href="#">Project name</a>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#" role="button" class="btn menu-button" data-toggle="offcanvas" data-target=".navmenu">
          <i class="fa fa-bars"></i>
        </a>
      </li>
    </ul>

  </div>

</div>
