<div ng-controller="OffCanvasController as ctrl">

  <div class="navigation">
      <div class="container">

        <div class="col-md-12">

          <div class="pull-left">
            <img ng-src="/images/logo.jpg" class="logo img-responsive">
          </div>

          <div class="pull-right">
            <a ng-href="/press">Press</a>
          </div>



        </div>

      </div>
  </div>


  <!--
  <div class="offcanvas" ng-cloak ng-show="ctrl.isActive">

				<ul>
					<li><a class="icon icon-data" href="/">Home</a></li>
					<li><a class="icon icon-location" href="/projects">Projects</a></li>
					<li><a class="icon icon-study" href="/services">Services</a></li>
					<li><a class="icon icon-photo" href="/hire">Hire Me</a></li>

				</ul>
  </div> -->

</div>
