<div ng-controller="OffCanvasController as ctrl" class="">


  <a class="nav-icon" ng-href="" ng-click="ctrl.toggle()">
    <i class="fa fa-bars"></i>
  </a>




  <div class="offcanvas" ng-cloak ng-show="ctrl.isActive">
      <h2 class="icon icon-lab">Bite Night</h2>
				<ul>
					<li><a class="icon icon-data" ng-href="/">Biography</a></li>
					<li><a class="icon icon-location" ng-href="/">Members</a></li>
					<li><a class="icon icon-study" ng-href="/">Music</a></li>
					<li><a class="icon icon-photo" ng-href="/">Contact Us</a></li>

				</ul>
  </div>

</div>
