<article id="timeline">

  <div class="timeline-bar">

    <section class="year">
      <h3>2013</h3>

      <section>
        <h4>October</h4>
        <ul>
          <li>Bite Night formed.</li>
        </ul>
      </section>

    </section>

    <section class="year">
      <h3>2014</h3>
      <section>
        <h4>January</h4>
        <ul>
          <li>Made the final of the Highland Battle of the Bands</li>
      </ul>
      </section>
      <section>
        <h4>April</h4>
        <ul>
          <li>Supported <a href="http://www.palmaviolets.co.uk">Palma Violets</a> at the Ironworks</li>
      </ul>
      </section>
      <section>
        <h4>August</h4>
        <ul>
          <li>Played at the <a href="http://www.tartanheartfestival.co.uk/">Belladrum festival</a></li>

        </ul>
      </section>
      <section>
        <h4>September</h4>
        <ul>
          <li>Released our self titled EP</li>
        </ul>
      </section>
    </section>

    <section class="year">
      <h3>2015</h3>

      <section>
        <h4>January</h4>
        <ul>
          <li>Selected to appear in <a ng-href="http://www.rock-n-reel.co.uk/">R2 Magazines</a> un-signed compilation CD</li>
        </ul>
      </section>

    </section>




  </div>
</article>
