@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);


$primary-color:  white;
$secondary-color: #aaa;
$third-color: #333;


body {
  font-family: 'Roboto', sans-serif;
  color: $third-color;
  font-size: 16px;
  line-height: 1.6;

}

h1, h2, h3, h4, h5, h6  {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  font-weight: 400;
  color: $third-color;
}

h2 {
  margin: 40px 0 15px 0;
}

h4 {
  font-weight: 400;
  font-size: 16px;
}


.press-nav {
  padding-top: 4em;

  a {
    background-color: $primary-color;
  }


  ul.affix {
  	position: fixed;
  	top: 70px;

  }
  ul.affix-top {
  	position: static;
  }
  ul.affix-bottom {
  	position: absolute;
  }

}



.event {

  i { margin-right: 10px; }

  margin-bottom: 30px;


  font-size: 14px;

  .event-image {
    width: 70px;
    height: 70px;
    margin-right: 10px;
  }

}




.logo {
  width: 250px;
  height: 250px;
  margin-bottom: 40px;
}


section.page-section {
  padding: 4em 0;
}





a {
  padding: 2px;
  color: $third-color;
  background-color: $primary-color;
  border-bottom: 2px dashed $secondary-color;

  &:hover {
    //background-color: #efefef;
    text-decoration: none;
  }
}



p {
  font-size: 16px;
  line-height: 1.42857143;
  //color: #596368;
}


h1 {
  text-align: center;
  font-size: 1.9em;
}


.align-center {
  text-align: center;
}




.nav-icon {

  padding-top: 15px;
  height: 50px;

  &:hover {
    cursor: pointer;
  }

  i {
    font-size: 20px;
    vertical-align: center;
  }
}




a.link {
  text-align: center;
  margin: 40px auto;
  display: inline-block;
  color: #333;
  padding: .4em 1em;
  border-bottom: 1px solid #ddd;
  font-style: italic;

  &:after { content: " →"; }

  &:hover {
    background:#FFFFCF;
    text-decoration: none;
  }

}


footer {
  padding: 40px 0;
  //border-top: 1px solid #eee;


  nav.social-links {
    margin-top: 0;
    color: #596368;

    a {
      margin: 0 20px;
      background-color: transparent;
      border: 0;

      img {
        width: 30px;
        height: 30px;
      }

      i {
        margin-right: 10px;
        font-size: 18px;
      }
    }
  }
}
