@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);


$primary-color:  white;
$secondary-color: #aaa;
$third-color: #333;


body {
  font-family: 'Roboto', sans-serif;
  background: $primary-color;
  color: $third-color;
  font-size: 16px;
  line-height: 1.6;

}

h1, h2, h3, h4, h5, h6  {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  font-weight: 400;
  color: $third-color;
}

h2 {
  margin: 40px 0 15px 0;
}

h4 {
  font-weight: 400;
  font-size: 16px;
}

a {
  padding: 2px;
  color: $third-color;
  background-color: $primary-color;


  &:hover {
    background-color: white;
    text-decoration: none;
  }
}



p {
  font-size: 16px;
  line-height: 1.42857143;
  //color: #596368;

  a {
    border-bottom: 2px dashed $secondary-color;
  }
}





.align-center {
  text-align: center;
}










footer {
  padding: 40px 0;
  //border-top: 1px solid #eee;



}
