/**
 * Reset some basic elements
 */


nav.epk-nav {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  text-align: center;

  a {
    margin: 0 20px;
  }
}


.pic {
  height: 300px;
  width: 100%;
}


section {
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
}



.epk-header {
  //padding: 30px;
  min-height: 80px;
  text-align: center;

  img {
    width: 100%;
    height: 100%;
  }
}
