.epk-header {

  //height: 300px;
  align: center;
  background: #eee;
  padding: 40px 0 0 0;
  color: #333;


  h1.main-heading {
    font-size: 4rem;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 0;

  }


  img {
    width: 250px;
    height: auto;
    text-align: center;
  }

}

.page-header {
  margin-bottom: 40px;
}

.sub-header {
  padding-bottom: 20px;
  text-align: center;
}





nav.social-links {
  //margin-top: 30px;
  color: #596368;

  a {
    margin: 0 10px;
    background-color: transparent;

    img {
      width: 30px;
      height: 30px;
    }

    i {
      margin-right: 10px;
      font-size: 18px;
    }
  }
}

.list-group-item {
  border: 0;
  margin-left: 0;
}
