.epk-header {

  height: 200px;
  align: center;
  background: #eee;


  h1 { font-size: 36px; }


  img {
    width: 250px;
    height: auto;
    text-align: center;
  }

}

.page-header {
  margin-bottom: 40px;
}

.sub-header {
  padding-bottom: 20px;
  text-align: center;
}



.list-group-item {
  border: 0;
  margin-left: 0;
}
