.epk-header {

  //height: 250px;
  align: center;
  background: #33435a;
  padding: 60px;
  color: white;


  h1.main-heading {
    font-size: 4rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

  }


  img {
    width: 250px;
    height: auto;
    text-align: center;
  }

}

.page-header {
  margin-bottom: 40px;
}

.sub-header {
  padding-bottom: 20px;
  text-align: center;
}





nav.social-links {
  margin-top: 30px;
  color: #596368;

  a {
    margin: 0 40px;
    background-color: transparent;

    i {
      margin-right: 10px;
      font-size: 18px;
    }
  }
}

.list-group-item {
  border: 0;
  margin-left: 0;
}
