

.member-name {
  font-size: 22px;
  margin-bottom: 8px;
}



.member-role {
  font-size: 20px;
}



.member-bio {
  margin-top: 16px;
}


.member-pic {
  width: 100%;
  //max-width: 250px;
  height: auto;
}
