<!doctype html>
<html ng-app="siteApp">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >

    <meta name="description" content="Bite Night Press Kit">
    <meta name="keywords" content="Bite Night">
    <meta name="author" content="Bite Night">

    <!-- TemplateBeginEditable name="doctitle" -->
    <title>Bite Night</title>
    <!-- TemplateEndEditable -->

    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>

    <script src="/bower_components/lightbox/js/lightbox.min.js"></script>




	  <!-- Bootstrap  -->
	  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/lightbox/css/lightbox.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">






</head>


<body id="page-top" data-spy="scroll" data-target=".navbar">

    {% include navigation.html %}



    {{ content }}



    <script src="http://connect.soundcloud.com/sdk.js"></script>


    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/scrolling-nav.js"></script>
    <script src="/js/main.js"></script>


</body>
</html>
